.numRec {
    padding-bottom: 5px;
    text-align: center;
    font-size: 16px;
}

.msgBox {
    height: 180px;
    margin-top: 5px; 
    overflow: hidden;
    overflow: auto;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
}